# Compiled binaries
*.bin

# BootLoader.bin
*.elf
*.hex
*.map
*.out

# Trash
*.bak

# Built files
build/
Includes/
Binaries/
Debug/
Release/

# VSC and VS
.vscode/
.vs/

# Python
env/

# Miscelanous
.hide/
gitversion.h
