# Compiled binaries
*.bin

# BootLoader.bin
*.elf
*.hex
*.map
*.out

# Trash
*.bak

# Built files
build/
Debug/

# VSC and VS
.vscode/
.vs/

# Python
env/

# Miscelanous
AllDrivers/
.hide/
GitVersion.h
